{% extends 'site_base.html' %}


{% block content_block %}

<div class="container">
  <div class="row text-cen cen">
    <div class="col-lg-6 col-sm-6 col-xs-6 pale-image thumb-border-full">
        <br><br><br>
        <h5 class="tb_title">Your bouquet:</h5>
        <br><br>
        <br>

        {% if object.theme_name %}

            <h6>{{object}}</h6>
            <h6>Theme: By {{object.theme_name}}</h6>
            <h6>Size: {{object.size}}</h6>
            <h6>Price: £{{object.price}}</h6>

            <br>

        {% else %}

            <h6>{{object}}</h6>
            <h6>Style: Random</h6>
            <h6>Price: £{{object.price}}</h6>

            <br>

        {% endif %}

          {% if object.theme_name == 'Type' %}
          <br>
            <h6 class="tb_title col-md-3">Your flower types:</h6>
            <br><br>
            {% for x in object.theme.all %}
              {{x.type}}
              <br><br>
              {% endfor %}

          {% elif object.theme_name == 'Colour' %}
          <br>
            <h6 class="tb_title col-md-3">Your bouquet colours:</h6>
            <br><br>
            {% for x in object.theme.all %}
              {{x.colour}}
              <br><br>
              {% endfor %}

           {% elif object.theme_name == 'Type and Colour' %}
           <br>
           <h6 class="tb_title col-md-3">Your flower types:</h6>
           <br><br>
               {% for x in object.theme.all %}
                 {% if x.type %}
                   {{x.type}}
                   <br><br>
                  {% endif %}
                {% endfor %}
            <br><br>
            <h6 class="tb_title col-md-3">Your bouquet colours:</h6>
            <br><br>
            {% for x in object.theme.all %}
              {% if x.colour %}
              {{x.colour}}
              <br><br>
              {% endif %}
              {% endfor %}

            {% else %}
            <br>
            {% endif %}

        <br>

        {% if object.basket %}
        <a class="btn btn-outline-primary" href="{% url 'basket:basket' %}">Back to basket</a>
        {% else %}
        <a class="btn btn-outline-primary" href="{% url 'orders:detail' pk=object.order.pk %}">Back to order</a>
        {% endif %}

        <br><br><br>

    </div>
  </div>
</div>
<br>

{% endblock %}
