{% extends 'site_base.html' %}

{% block content_block %}

<br><br>
<br>
<div class="container-fluid">
  <div class="row text-cen cen">
    <div class="col-lg-6 mx-auto col-md-12 col-sm-12 col-xs-12 pale-image text-cen">
      <br><br><br>
      {% if object.colour %}
          <h5>Are you sure you want to delete this colour?</h5>
          <br><br>
          <form method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-success" value="Delete">
          </form>
      {% else %}
          <h5>Are you sure you want to delete this type?</h5>
          <br><br>
          <form method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-success" value="Delete">
          </form>
      {% endif %}
      <br>
      <h6><a class="btn btn-outline-danger" href="{% url 'themed_products:themed_detail' pk=prev %}">Cancel</a></h6>
      <br><br>
{% endblock %}
