{% extends 'site_base.html' %}

{% block content_block %}

<div class="container-fluid">
  <div class="row text-cen cen">
    <div class="col-lg-6 col-sm-12 col-xs-12 pale-image text-cen">
      <br><br><br>
      <h5>Are you sure you want to delete your bouquet?</h5>
      <br><br>
      <form method="POST">
        {% csrf_token %}
          <br>
        <input type="submit" class="btn btn-outline-success" value="Delete">
      </form>
      <br>
      <h6><a class="btn btn-outline-danger" href="{% url 'themed_products:themed_detail' pk=themedbouquet.pk %}">Cancel</a></h6>
      <br><br><br>
    </div>
  </div>
</div>

{% endblock %}
