{% extends 'site_base.html' %}
{% load bootstrap3 %}


{% block content_block %}


<div class="container-fluid">
  <div class="row text-cen cen">
    <div class="col-lg-6 col-sm-12 col-xs-12 formimage text-cen">
        <br><br><br>
        <h4 class="tb_title b-gr txt-white">Create your bouquet</h4>
        <br><br>
        <br><br>
        <form class="txt-gr" method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <br><br>
          <input type="submit" class="btn btn-success" value="Add to bouquet">
        </form>
        <br>
        <h6><a class="btn btn-danger" href="{% url 'themed_products:themed_detail' pk=bouq %}">Back</a></h6>
        <br><br>
    </div>
  </div>
</div>


{% endblock %}
