{% extends 'site_base.html' %}
{% load static %}

{% block content_block %}

{% if user.is_authenticated %}

{% block notification %}{% endblock %}

<div class="container-fluid">

  <h6 class="invis">.</h6>
  <h3 class="tb_title">{{account.user.username}}'s Account Page!</h3>
  <h6 class="invis">.</h6>
  <h6 class="invis">.</h6>
  <h4>Your details: </h4>
  <h6 class="invis">.</h6>

  <table>
    <td id="td_detail">
    <h5>First name: {{account.first_name}}</h5>
    <h5>Surname: {{account.surname}}</h5>
    <h5>Billing address: {{account.billing_address}}</h5>
    <h5>Delivery address: {{account.delivery_address}}</h5>
      </td>
  </table>

<h6 class="invis">.</h6>
  <div class="edit-details">
  <a href="{% url 'accounts:edit' pk=user.customer_account.pk %}"
    title="Edit" class="btn btn-outline-warning">Edit Details</a>
</div>
<h6 class="invis">.</h6>
<h6 class="invis">.</h6>
  <h5>{ Order list for account injected here }</h5>

{% else %}

<h3>Page error</h3>
{% endif %}

{% endblock %}
