{% extends "site_base.html" %}
{% load bootstrap3 %}

{% block content_block %}

<div class="container">
  <div class="row text-cen cen">
    <div class="col-lg-6 mx-auto col-md-12 col-sm-12 col-xs-6 pale-image thumb-border-full">
      <br><br><br>
      <h3 class="tb_title">Edit your details here:</h3>
      <br><br><br>

      <form class="edit-details" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <br>
        <input class="btn btn-outline-success" type="submit" value="Update">
        <br><br><br>
      </form>
    </div>
  </div>
  <br>
</div>

{% endblock %}
