{% extends 'site_base.html' %}
{% load static %}

{% block content_block %}

<br>
<img style="max-width:100%;height:auto;" src="{% static "images/titles/aboutpagetitleJPG.jpg" %}" alt="Error loading photo">
<br><br>


  <div class="container width-full">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-6 thumb-border-full">
        <br>
        <h3 class="tb_title">Our story</h3>
          <br><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-6 thumb-border-full">
          <br>
            <h3 class="tb_title">Contact</h3>
            <br><br>
            <p>Email: our-email@helloworld.com</p>
            <p>Address: 59 High Street, The City, PO5T CDE.</p>
            <p>Tel: 09472 100200</p>
            <p>Socials:</p>
            <div class="container">
              <table class="icons cen text-cen">
                <tr>
                  <td id="twitter-box">
                    <a href="https://twitter.com/?lang=en-gb">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                      <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                    </svg>
                    </a>
                  </td>
                  <td>
                    <a href="https://www.instagram.com/">
                      <img class="img-fluid" src="{% static '/images/logos/insta-icon-bigger.jpg' %}" alt="Insta">
                    </a>
                  </td>
                  <td>
                    <a href="https://www.facebook.com/">
                      <img class="img-fluid" src="{% static '/images/logos/fblogo.jfif' %}" alt="Facebook">
                    </a>
                  </td>
                </tr>
              </table>
              </div>
              <br><br>
          </div>
        </div>
      </div>
      <br>
      <div class="cen text-cen">
          <a class="btn btn-outline-primary" href="{% url 'home' %}">Home</a>
      </div>
<br><br>

{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
