{% extends "site_base.html" %}
{% load static %}

{% block content_block %}
  {% block login_notification %}{% endblock %}
  {% block logout_notification %}{% endblock %}

<br>
  <img src="{% static "images/titles/homepage2.jpg" %}" style="max-width:100%;height:auto;" alt="Error loading photo">
<br><br>

  <div class="container width-full" style="padding-left:0px;padding-right:0px;">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-6">
      <a href="{% url 'products:shop' %}">
        <img class="img-fluid" src="{% static "images/titles/homeshop2edit.jpg" %}" alt="Shop">
      </a>
      <br><br>
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-6">
      <a href="{% url 'about' %}">
        <img class="img-fluid" src="{% static "images/titles/abouttitle.jpg" %}" alt="About us">
      </a>
      <br><br>
      </div>
    <br><br>
    </div>
    <br>
  </div>

{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
