{% extends "site_base.html" %}
{% load static %}

{% block content_block %}
  {% block login_notification %}{% endblock %}
  {% block logout_notification %}{% endblock %}

  <div class="container width-full">
    <div class="row">
      <img class="img-fluid" src="{% static "images/titles/homepage2.jpg" %}" alt="Error loading photo">
      <h6 class="invis">.</h6>
      </div>
    <h6 class="invis">.</h6>
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-6">
      <a href="{% url 'products:shop' %}">
        <img class="img-fluid" src="{% static "images/titles/homeshop2edit.jpg" %}" alt="Shop">
      </a>
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-6">
      <a href="{% url 'about' %}">
        <img class="img-fluid" src="{% static "images/titles/abouttitle.jpg" %}" alt="About us">
      </a>
      <h6 class="invis">.</h6>
      </div>
    <h6 class="invis">.</h6>
    </div>
    </div>

{% endblock %}
