{% extends 'site_base.html' %}

{% block content_block %}

<br>
<div class="container">
  <div class="row text-cen cen">
    <div class="col-lg-6 col-md-12 mx-auto col-sm-12 col-xs-12 pale-image thumb-border-full">
      <br><br>
        <h3 class="tb_title">Your bouquet:</h3>
          <br><br><br>
          {% for flower in object.flower.all %}
            <h6>{{flower}}</h5>
            <p>£{{flower.price}}</p>
          {% endfor %}
          <br><br>
          <h5>Total: £{{object.price}}</h5>
          <br><br>

        <br>

        {% if object.basket %}
          <a class="btn btn-outline-primary" href="{% url 'basket:basket' %}">Back to basket</a>
        {% else %}
        <a class="btn btn-outline-primary" href="{% url 'orders:detail' pk=object.order.pk %}">Back to order</a>
        {% endif %}

        <br><br>
    </div>
  </div>
</div>

{% endblock %}
