{% extends 'site_base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content_block %}
<div class="container-fluid">
  <div class="row text-cen cen">
    <div class="col-lg-6 col-sm-12 col-xs-12 formimage text-cen">
      <br><br><br>
      <h3 class="tb_title b-gr txt-white">Design your flower</h3>
      <br><br><br><br>
      <form class="txt-gr text-cen" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <br><br>
        <input type="submit" class="btn btn-success" value="Create">
      </form>
      <br>
      <h6><a class="btn btn-danger" href="{% url 'products:detail_bouquet' pk=prev %}">Back</a></h6>
      <br>
    </div>
  </div>
</div>

{% endblock %}
