{% extends 'site_base.html' %}
{% load bootstrap3 %}

{% block content_block %}
<h6 class="invis">.</h6>
<h3 class="tb_title">Design your flower:</h3>
<h6 class="invis">.</h6>

<h6 class="invis">.</h6>
<form class="create_flower" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <h6 class="invis">.</h6>
  <input type="submit" class="btn btn-outline-success" value="Create">
</form>

<h6 class="invis">.</h6>
<h6><a class="btn btn-outline-warning" href="{% url 'products:detail_bouquet' pk=prev %}">Back</a></h6>
{% endblock %}
