{% extends 'site_base.html' %}
{% load static %}

{% block content_block %}

<img src="{% static "images/titles/header3rangefinal.jpg" %}" style="max-width:100%;height:auto;" alt="Error loading photo">
<br><br>

<div class="container">

  <div class="row thumb-border-rng">
      <button class="rng-button" style="border:white;padding-bottom:10px;" type="button">
        <a class="lnk" href="{% url 'range_products:range_list' range_name='wild'%}">
        <h5 class="cen">Wild</h5></a>
      </button>
      <div class="col-lg-4 col-sm-4 col-xs-6 text-cen">
        <div>
          <a href="{% url 'range_products:range_list' range_name='wild'%}">
          <img class="img-thumbnail img-fluid" src="{% static "images/range/Wild.jpg" %}" alt="Error loading photo" href="{% url 'range_products:range_list' range_name='wild' %}">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-6 text-cen">
        <div>
          <a href="{% url 'range_products:range_list' range_name='wild'%}">
          <img class="img-thumbnail img-fluid" src="{% static "images/range/Wild colour crop.jpg" %}" alt="Error loading photo">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-6 text-cen">
        <div>
          <a href="{% url 'range_products:range_list' range_name='wild'%}">
          <img class="img-thumbnail img-fluid" src="{% static "images/range/Wild blues.jpg" %}" alt="Error loading photo">
          </a>
        </div>
      </div>
  </div>

  <br>

  <div class="row thumb-border-rng">
      <button class="rng-button" style="border:white;padding-bottom:10px;" type="button">
        <a class="lnk" href="{% url 'range_products:range_list' range_name='Valentines' %}">
          <h5 class="cen">Valentines</h5></a>
      </button>
      <div class="col-lg-4 col-sm-4 col-xs-6">
        <div>
          <a href="{% url 'range_products:range_list' range_name='Valentines' %}">
          <img class="img-thumbnail img-fluid" src="{% static "images/range/Valentines3.jpg" %}" alt="Error loading photo">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-6">
        <div>
          <a href="{% url 'range_products:range_list' range_name='Valentines' %}">
          <img class="img-thumbnail img-fluid" src="{% static "images/range/Valentines1.jpg" %}" alt="Error loading photo">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-6">
        <div>
          <a href="{% url 'range_products:range_list' range_name='Valentines' %}">
          <img class="img-thumbnail img-fluid" src="{% static "images/range/Valentines2crop.jpg" %}" alt="Error loading photo">
          </a>
        </div>
      </div>
  </div>

  <br>

  <div class="row thumb-border-rng">
        <button class="rng-button" style="border:white;padding-bottom:10px;" type="button">
          <a class="lnk" href="{% url 'range_products:range_list' range_name='neutral' %}">
          <h5 class="cen">Neutral</h5></a>
        </button>
      <div class="col-lg-4 col-sm-4 col-xs-6">
          <div>
            <a href="{% url 'range_products:range_list' range_name='neutral' %}">
            <img class="img-thumbnail img-fluid" src="{% static "images/range/neutral5.jpg" %}" alt="Error loading photo">
            </a>
          </div>
        </div>
      <div class="col-lg-4 col-sm-4 col-xs-6">
          <div>
            <a href="{% url 'range_products:range_list' range_name='neutral' %}">
            <img class="img-thumbnail img-fluid" src="{% static "images/range/neutral3.jpg" %}" alt="Error loading photo">
            </a>
          </div>
        </div>
      <div class="col-lg-4 col-sm-4 col-xs-6">
          <div>
            <a href="{% url 'range_products:range_list' range_name='neutral' %}">
            <img class="img-thumbnail img-fluid" src="{% static "images/range/neutral4.jpg" %}" alt="Error loading photo">
            </a>
          </div>
      </div>
  </div>

  <br>

  <div class="row thumb-border-rng">
      <button class="rng-button" style="border:white;padding-bottom:10px;" type="button">
        <a class="lnk" href="{% url 'range_products:range_list' range_name='unusual' %}">
          <h5 class="cen">Unusual</h5></a>
      </button>
      <div class="col-lg-4 col-sm-4 col-xs-6">
        <div>
          <a href="{% url 'range_products:range_list' range_name='unusual' %}">
          <img class="img-thumbnail img-fluid" src="{% static "images/range/unusual1.jpg" %}" alt="Error loading photo">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-6">
        <div>
          <a href="{% url 'range_products:range_list' range_name='unusual' %}">
          <img class="img-thumbnail img-fluid" src="{% static "images/range/unusual3.jpg" %}" alt="Error loading photo">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-6">
        <div>
          <a href="{% url 'range_products:range_list' range_name='unusual' %}">
          <img class="img-thumbnail img-fluid" src="{% static "images/range/unusual2.jpg" %}" alt="Error loading photo">
          </a>
        </div>
      </div>
  </div>

  <br>

  <div class="row thumb-border-rng">
      <button class="rng-button" style="border:white;padding-bottom:10px;" type="button">
        <a class="lnk" href="{% url 'range_products:range_list' range_name='colourful' %}">
          <h5 class="cen">Colourful</h5></a>
      </button>
      <div class="col-lg-4 col-sm-4 col-xs-6">
        <div>
          <a href="{% url 'range_products:range_list' range_name='colourful' %}">
          <img class="img-thumbnail img-fluid" src="{% static "images/range/colourful2.jpg" %}" alt="Error loading photo">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-6">
        <div>
          <a href="{% url 'range_products:range_list' range_name='colourful' %}">
          <img class="img-thumbnail img-fluid" src="{% static "images/range/colourful5.jpg" %}" alt="Error loading photo">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-6">
        <div>
          <a href="{% url 'range_products:range_list' range_name='colourful' %}">
          <img class="img-thumbnail img-fluid" src="{% static "images/range/colourful6.jpg" %}" alt="Error loading photo">
          </a>
        </div>
      </div>
  </div>

</div>

<br><br>

<div class="cen text-cen">
    <a class="btn btn-outline-danger" href="{% url 'products:shop' %}">Back</a>
</div>

<br><br><br>

{% endblock %}
