{% extends 'site_base.html' %}

{% block content_block %}

  <h3>Welcome to the shop!</h3>
 <p>...</p>
 <h5>Pics here</h5>
 <p>...</p>

 <h4><a class="btn btn-outline-success" href="{% url 'products:range' %}">Browse our range</a></h4>
 <p>...</p>
<h4><a class="btn btn-outline-success" href="{% url 'products:tailor' %}">Design your own bouquet</a></h4>

<p>...</p>
  <h5>Or let us design a random bouquet for you:</h5>
  <h4><a class="btn btn-outline-success" href="#">Surprise me!</a></h4>


{% endblock %}
