{% extends 'site_base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content_block %}

<div class="container width-full">
  <div class="row">
    <img src="{% static "images/titles/shopfinal.png" %}" alt="Error loading photo">
      <h6 class="invis">.</h6>
    </div>
</div>

<div class="container width-full">
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-6 cen">
      <a class="btn btn-outline-success" style="width:100%" href="{% url 'products:range' %}">Browse our range</a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-6 cen">
      <a class="btn btn-outline-success btn-block" style="width:100%" href="{% url 'products:tailor' %}">Design your own bouquet</a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-6 cen">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-outline-success" style="width:100%" type="submit" value="Surprise me!">
      </form>
    </div>
  </div>
</div>
<h6 class="invis">.</h6>

{% endblock %}
