{% extends 'site_base.html' %}

{% block content_block %}

{% if bouquet.flower.count < 1 %}

<br><br>
<br>
<div class="container-fluid">
  <div class="row text-cen cen">
    <div class="col-lg-6 mx-auto col-md-12 col-sm-12 col-xs-12 pale-image text-cen">
      <br><br><br>
      <h5>No flowers in your bouquet yet!</h5>
      <br><br><br>
      <h5>Total: £{{bouquet.price}}</h5>
      <br><br><br>
    </div>
  </div>
</div>

{% else %}

<div class="container-fluid">
  <div class="row text-cen cen">
    <div class="col-lg-6 mx-auto col-md-12 col-sm-12 col-xs-12 pale-image text-cen">
      <br><br><br>
      <h3 class="tb_title">In your bouquet:</h3>
      <br><br><br>
        {% for flower in bouquet.flower.all %}
          <h6>{{flower}}</h5>
          <p>£{{flower.price}}</p>
          <a class="btn btn-outline-danger btn-sm" href="{% url 'products:delete_flower' pk=flower.pk bouquet_id=bouquet.pk %}">Delete</a>
            <br><br><br>
        {% endfor %}
        <h5>Total: £{{total}}</h5>
        <br><br>
      </div>
    </div>
  </div>

{% endif %}

<div class="container-fluid">
  <div class="row text-cen cen">
    <div class="col-lg-6 mx-auto col-md-12 col-sm-12 col-xs-12 text-cen">
      <div class="row text-cen cen">
          <div class="col text-cen">
          <h6 class="text-cen cen"><a class="btn btn-outline-danger" href="{% url 'products:delete_bouquet' pk=bouquet.pk %}">Discard all</a></h6>
            </div>
          <div class="col text-cen">
          <h6 class="text-cen cen"> <a class="btn btn-outline-primary" href="{% url 'products:create_single' bouquet_id=bouquet.pk %}">Add a flower</a></h6>
            </div>

          <div class="col text-cen">
            {% if user.customer_basket %}
            <h6 class="text-cen cen"><a class="btn btn-outline-success" href="{% url 'products:update_bouquet_new' pk=bouquet.pk %}">Save bouquet</a></h6>
            {% else %}
            <h6 class="text-cen cen"><a class="btn btn-outline-success" href="{% url 'products:update_bouquet_new' pk=bouquet.pk %}">Save bouquet</a></h6>
            {% endif %}
              </div>

      </div>
    </div>
  </div>
</div>
<br>

{% endblock %}
