{% extends 'site_base.html' %}
{% load bootstrap3 %}

{% block content_block %}


<br><br>
<div class="container">
  <div class="row text-cen cen">
    <div class="col-lg-6 col-sm-12 col-xs-6 pale-image thumb-border-full">
        <br><br>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" class="btn btn-outline-success" value="Save bouquet">
        </form>
        <br>
        <h6><a class="btn btn-outline-danger" href="{% url 'products:detail_bouquet' pk=bouquet.pk %}">Back to bouquet</a></h6>
        <br><br>
      </div>
    </div>
  </div>

{% endblock %}
