
{% if user.is_authenticated %}

<div class="container">
  <div class="row text-cen cen">
    <div class="col-lg-6 col-sm-12 col-xs-6 pale-image thumb-border-full">

        <br><br>
        <h3 class="tb_title_b">{{user.customer_basket}}</h3>
          <br><br>

          {% if b %}
              {% for x in b %}
                <h6>{{x}}</h6>
                <p>£{{x.price}}</p>
                <a class="btn btn-outline-success btn-sm" href="{% url 'products:basket_bouquet' pk=x.pk %}">Details</a>
                  <a class="btn btn-outline-danger btn-sm" href="{% url 'basket:delete_bouquet' basket_id=user.customer_basket.pk pk=x.pk %}">Delete</a>
                  <br><br>
              {% endfor %}
          {% endif %}

          {% if tb %}
              {% for x in tb %}
                <h6>{{x}}</h6>
                <p>£{{x.price}}</p>
                <a class="btn btn-outline-success btn-sm" href="{% url 'themed_products:basket_tbouquet' pk=x.pk %}">Details</a>
                  <a class="btn btn-outline-danger btn-sm" href="{% url 'basket:delete_tbouquet' basket_id=user.customer_basket.pk pk=x.pk %}">Delete</a>
                  <br><br>
              {% endfor %}
          {% endif %}

          {% if r %}
              {% for x in r %}
                <h6>{{x|title}} bouquet</h6>
                <p>£{{x.price}}</p>
                <a class="btn btn-outline-success btn-sm" href="{% url 'range_products:r_bouquet_detail' pk=x.pk %}">Details</a>
                  <a class="btn btn-outline-danger btn-sm" href="{% url 'basket:delete_rbouquet' basket_id=user.customer_basket.pk pk=x.pk %}">Delete</a>
                  <br><br>
              {% endfor %}
          {% endif %}

          {% if b or tb or r %}
          <br><br>
            <h5>Total: £{{total}}</h5>
                <br><br>

              {% if user.customer_account %}
                <form method="post">
                  {% csrf_token %}
                  {{form.as_p}}
                  <input class="btn btn-outline-success" type="submit" value="Go to Checkout">
                </form>
                <br>
                <a class="btn btn-outline-primary" href="{% url 'products:shop' %}">Continue shopping</a>
                <br><br>

                {% else %}
                <a class="btn btn-outline-success" href="{% url 'basket:purchase' %}">Enter Delivery details and Checkout</a>
                <br><br>
                <br>
                <a class="btn btn-outline-primary" href="{% url 'products:shop' %}">Continue shopping</a>
                <br><br>
                {% endif %}

          {% else %}
            <br><br>
            <h5>Your basket is empty.</h5>
            <br><br>
          {% endif %}

      {% else %}

      <h6>Please sign up to place an order with us:</h6>
      <br><br>
      <a class="btn btn-outline-success" href="{% url 'accounts:signup' %}">Sign up</a>
    {% endif %}
    </div>
  </div>
  <br>
</div>
