{% extends 'site_base.html' %}

{% block content_block %}


  <h3>Confirm purchase:</h3>
  <h5>**Make this a CreateView for Order instead**</h5>

    <h5>Are these still your billing/delivery addresses?:</h5>
      <h5>{{user.customer_account.first_name}}</h5>
      <h5>{{user.customer_account.surname}}</h5>
      <h5>{{user.customer_account.billing_address}}</h5>
      <h5>{{user.customer_account.delivery_address}}</h5>

    <h4>(Confirm button)> Creates new Order </h4>

    <h6><a href="{% url 'basket:update_purchase' pk=user.customer_account.pk %}">Edit Account Details</a></h6>


{% endblock %}
