{% extends 'site_base.html' %}

{% block content_block %}

<div class="container">
  <div class="row text-cen cen">
    <div class="col-lg-6 col-sm-12 col-xs-6 pale-image thumb-border-full">

        <br><br><br>
        <h2>Thank you for your order.</h2>
        <br><br>
        <h5 class="tb_title">{{object}}</h5>
        <br><br>
        <h6>{{object.order_date|date}}</h6>
        <br><br>

        <h5>Your order items:</h5>
        <br>
        {% for x in b %}
        {{x}}
        <br>
        <p>£{{x.price}}</p>
        <a href="{% url 'products:basket_bouquet' pk=x.pk %}"
         class="btn btn-sm btn-outline-success">Details</a>
        <br><br>
        {% endfor %}
        {% for x in t %}
        {{x}}
        <br>
        <p>£{{x.price}}</p>
        <a href="{% url 'themed_products:basket_tbouquet' pk=x.pk %}"
         class="btn btn-sm btn-outline-success">Details</a>
        <br><br>
        {% endfor %}
        {% for x in r %}
        {{x|title}}
        <br>
        <p>£{{x.price}}</p>
        <a href="{% url 'range_products:r_bouquet_detail' pk=x.pk %}"
         class="btn btn-sm btn-outline-success">Details</a>
        <br><br>
        {% endfor %}

        <br>

        <h5>Order total: £{{object.order_total}}</h5>

        <br><br>
        <a href="{% url 'accounts:details' pk=user.customer_account.pk %}"
         class="btn btn-outline-success">Go to your account</a>
         <br><br>
         <a href="{% url 'home' %}"
          class="btn btn-outline-primary">Home</a>
        <br><br>
    </div>
  </div>
  <br>
</div>

{% endblock %}
