{% extends 'site_base.html' %}

{% block content_block %}

<h2>Thank you for your order.</h2>

<h6 class="invis">.</h6>
<h5 class="tb_title">{{object}}</h5>
<h6 class="invis">.</h6>
<h6>{{object.order_date|date}}</h6>
<h6 class="invis">.</h6>


<h6 class="invis">.</h6>
<h6 class="invis">.</h6>

<h5>Your order items:</h5>

<h6 class="invis">.</h6>
{% for x in b %}
{{x}}
<h6 class="invis">.</h6>
<p>£{{x.price}}</p>
<a href="{% url 'products:basket_bouquet' pk=x.pk %}"
 class="btn btn-sm btn-outline-success">Details</a>
<h6 class="invis">.</h6>
{% endfor %}
<h6 class="invis">.</h6>
{% for x in t %}
{{x}}
<h6 class="invis">.</h6>
<p>£{{x.price}}</p>
<a href="{% url 'themed_products:basket_tbouquet' pk=x.pk %}"
 class="btn btn-sm btn-outline-success">Details</a>
<h6 class="invis">.</h6>
{% endfor %}
<h6 class="invis">.</h6>
{% for x in r %}
{{x|title}}
<h6 class="invis">.</h6>
<p>£{{x.price}}</p>
<a href="{% url 'range_products:r_bouquet_detail' pk=x.pk %}"
 class="btn btn-sm btn-outline-success">Details</a>
<h6 class="invis">.</h6>
{% endfor %}

<h6 class="invis">.</h6>

<h6>Order total: £{{object.order_total}}</h6>
<h6>{{object.account}}</h6>


<h6 class="invis">.</h6>
<h6 class="invis">.</h6>


{% endblock %}
