{% extends 'site_base.html' %}
{% load bootstrap3 %}

{% block content_block %}

<div class="container">
  <div class="row text-cen cen">
    <div class="col-lg-6 col-sm-6 col-xs-6 pale-image thumb-border-full">
        <br><br><br>

        <h5>Are you sure you'd like to add this bouquet to your basket?</h5>

        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <br><br><br>
          <input type="submit" class="btn btn-outline-success" value="Confirm">
        </form>
        <br>
        <h5><a class="btn btn-outline-danger" href="{% url 'range_products:range_list' range_name=rng  %}">Cancel</a></h5>
        <br>
    </div>
  </div>
</div>


{% endblock %}
