{% extends 'site_base.html' %}

{% block content_block %}
<br><br>
<div class="container">
  <div class="row text-cen cen">
    <div class="col-lg-6 mx-auto col-sm-12 col-xs-12 pale-image thumb-border-full">
        <br><br><br>

    {% if user.is_authenticated %}
        <h5>Are you sure you'd like to add this bouquet to your basket?</h5>

        <form method="post">
          {% csrf_token %}
          {{new_rbouquet.as_p}}
          <br><br><br>
          <input type="submit" class="btn btn-outline-success" value="Confirm">
        </form>
        <br>
        <h5><a class="btn btn-outline-danger" href="{% url 'range_products:range_list' range_name=rng  %}">Cancel</a></h5>
        <br>

    {% else %}
      <h5>Please sign up to save your bouquet!</h5>
      <br>
      <a class="btn btn-outline-primary" href="{% url 'accounts:signup' %}">Sign Up</a>
      <br><br>
      <h5><a class="btn btn-outline-danger" href="{% url 'range_products:range_list' range_name=rng  %}">Back</a></h5>
      <br>
    {% endif %}
    </div>
  </div>
</div>


{% endblock %}
