{% extends 'site_base.html' %}
{% load bootstrap3 %}

{% block content_block %}

<h6 class="invis">.</h6>
<h6 class="invis">.</h6>

<h6>pics of item here</h6>

    <h6 class="invis">.</h6>
        <h6 class="invis">.</h6>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
      <h6 class="invis">.</h6>
  <input type="submit" class="btn btn-outline-success" value="Add to basket">
</form>

<h5><a class="btn btn-outline-danger" href="{% url 'products:range' %}">Back</a></h5>

{% endblock %}
