{% extends 'site_base.html' %}
{% load bootstrap3 %}

{% block content_block %}

<br>

<div class="container">
  {% for x in object_list %}
    <div class="row text-cen cen thumb-border">
      <div class="col-lg-6 col-sm-6 col-xs-6">
        <img class="img-thumbnail img-fluid" src="{{x.r_bouquet.image.url}}" alt="Error loading photo">
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-6">
        <br>
        <h5 class='cen'>{{x.r_bouquet|title}}</h5>
        <p class='cen'>£{{x.r_bouquet.price|title}}</p>

          <a class="btn btn-outline-success btn-sm cen text-cen"
          href="{% url 'range_products:create_one' slug=x.r_bouquet.slug range_name=x.name %}">
          Add to basket</a>
          <br><br><br>

      </div>
    </div>
    {% endfor %}
</div>

<br><br>

<div class="cen text-cen">
    <a class="btn btn-outline-danger" href="{% url 'products:range' %}">Back</a>
</div>

<br><br><br>

{% endblock %}
