{% extends 'site_base.html' %}
{% load bootstrap3 %}

{% block content_block %}

  <div class="container">
        <br>
        <div class="container">
          <h5 class="cen">Bouquet details</h5>
          <br>
          <div class="row text-cen thumb-border">
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <img class="img-thumbnail img-fluid" src="{{object.image.url}}" alt="Error loading photo">
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
              <h6 class='cen'>{{object|title}}</h6>
              <p class='cen'>£{{object.price}}</p>
            </div>
          </div>
        </div>
        <br>

      <div class="text-cen cen">
        {% if object.basket %}
        <a class="btn btn-outline-primary" href="{% url 'basket:basket' %}">Back to basket</a>
        {% else %}
        <a class="btn btn-outline-primary" href="{% url 'orders:detail' pk=object.order.pk %}">Back to order</a>
        {% endif %}
        </div>

    <br><br>
  </div>

{% endblock %}
