{% extends 'site_base.html' %}
{% load bootstrap3 %}

{% block content_block %}

<h6 class="invis">.</h6>
<div class="container">
  <h5 class="cen">Bouquet details</h5>
  <h6 class="invis">.</h6>
  <div class="row text-cen thumb-border">
    <div class="col-lg-6 col-sm-6 col-xs-6">
      <img class="img-thumbnail img-fluid" src="{{object.image.url}}" alt="Error loading photo">
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-6">
      <h6 class='cen'>{{object|title}}</h6>
      <p class='cen'>£{{object.price}}</p>
    </div>
  </div>
</div>

<h6 class="invis">.</h6>
<h6 class="invis">.</h6>

<a class="btn btn-outline-danger" href="{% url 'basket:basket' %}">Back to basket</a>

<h6 class="invis">.</h6>
<h6 class="invis">.</h6>

{% endblock %}
