
.mybrand{
  font-family: 'Marck Script', cursive;
  font-size: 1.75em;
  color: white;
  background-color:pink;
}

.mybrand:hover{
  font-family: 'Marck Script', cursive;
  font-size: 1.75em;
  color: white;
  background-color:pink;
}

.mylink{
  color:black;
  text-decoration: none;
}

.mylink:hover{
  color: black;
  text-decoration: none;
}

.smol{
  font-size: 0.75em;
  color: white;
}

.mytxtlink{
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
}

.mytxtlink:hover{
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
}

.tb_title_b{
  border: 1px solid pink;
  border-radius: 10px;
  padding: 8px 8px 10px 8px;
}

.tb_title{
  border: 2px solid pink;
  border-radius: 6px;
  padding: 8px 8px 10px 8px;
  display: inline;
}

.tb_title_sm{
  border: 1px solid pink;
  border-radius: 6px;
  padding: 14px 8px 14px 8px;
  display: inline;
}

.cen{
  text-align: center;
}

.tb_title_big{
  border: 2px solid pink;
  border-radius: 12px;
  padding: 30px 20px 38px 20px;
  display: inline;
}

.invis{
  color: white;
}

.rng-button{
  background-color: white;
}

.lnk{
  color: black;
  text-decoration: none;
}

.lnk:hover{
  color: black;
  text-decoration: none;
}

.text-cen{
  align-items: center;
}

.text-right{
  align-items: right;
}

.thumb-border-full{
  border: 1px solid lightgrey;
  border-radius: 18px;
}

.thumb-border{
  border: 1px solid lightgrey;
  border-left: white;
  border-top: white;
  border-radius: 18px;
}

.myborder{
  border: 4px solid white;
  padding: 0px 2px 0px 4px;
}

.myborder-thick{
  border: 8px solid white;
  padding: 10px 0px 0px 0px;
}


.mybtn:hover{
  border: 1px solid green;
}
