
.mybrand{
  font-family: 'Marck Script', cursive;
  font-size: 1.75em;
  color: white;
  background-color:pink;
}

.mylink{
  color:black;
}

#td_detail{
  border: 2px dotted pink;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.tb_title{
  border: 2px solid pink;
  border-radius: 6px;
  padding: 8px 8px 10px 8px;
  display: inline;
}

.tb_title_big{
  border: 2px solid pink;
  border-radius: 12px;
  padding: 30px 20px 38px 20px;
  display: inline;
}

.invis{
  color: white;
}

/* .tiny{
  height: 3vh;
  width: 3vw;
} */
