
.mybrand{
  font-family: 'Marck Script', cursive;
  font-size: 1.75em;
  color: white;
  background-color:pink;
}

.mylink{
  color:black;
}

.tb_title{
  border: 2px solid pink;
  border-radius: 6px;
  padding: 8px 8px 10px 8px;
  display: inline;
}

.tb_title_sm{
  border: 1px solid pink;
  border-radius: 6px;
  padding: 14px 8px 14px 8px;
  display: inline;
}

.cen{
  text-align: center;
}

.tb_title_big{
  border: 2px solid pink;
  border-radius: 12px;
  padding: 30px 20px 38px 20px;
  display: inline;
}

.invis{
  color: white;
}

.rng-button{
  background-color: white;
}

.lnk{
  color: black;
  text-decoration: none;
}

.lnk:hover{
  color: black;
  text-decoration: none;
}

.text-cen{
  align-items: center;
}

.thumb-border{
  border: 1px solid lightgrey;
  border-left: white;
  border-top: white;
  border-radius: 18px;
}
